body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
}

img {
  max-width: 50px;
  max-height: 50px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

table {
  width: 50%;
  padding: 2px;
  margin-bottom: 10px;
  /*height:150px;*/
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #777;
}
td {
  height: 2px;
  padding: 1px;
}
